*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
ul{
    margin:0;
}
li{
    list-style:none;
}
.container{
    padding-left: 15vw ;
    padding-right: 15vw;
}
.header{
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu{
    display:flex;
}
.menu__links{
    display:flex;
}
.menu__item:nth-child(1){
    margin-right:auto;
}
.menu__link{
    margin-right: 20px;
}
.menu__link:nth-last-child(1){
    margin-right: 0;
}
.screen{
    position: relative;
    height: 100vh;
    display:flex;
    align-items: center;
}
.bg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg__img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.screen__headline{
    color: #fff;
    font-size: 96px;
    margin-bottom: 35px;
}
.screen__paragraph{
    color: #fff;

}
.screen__button{
    padding:  20px;
    background-color: #fff;
    text-decoration: none;
    transition-duration: .3s;
    display: flex;width: max-content;
}
.screen__button:hover{
    background-color: #333;
    color: #fff;
}

